@model GCCoffeeShop.Models.UserModel
@{
    var countryListItems = new List<SelectListItem>()
{
new SelectListItem()
{
    Text = "Select Country", Value = "Not Selected"
},
new SelectListItem()
{
    Text = "United State", Value = "United State"
},
new SelectListItem()
{
    Text = "Canada", Value = "Canada"
},
new SelectListItem()
{
    Text = "Mexico", Value = "Mexico"
},
new SelectListItem()
{
    Text = "Nepal", Value = "Nepal"
},
new SelectListItem()
{
    Text = "India", Value = "India"
},
new SelectListItem()
{
    Text = "China", Value = "China"
}
};

    var coffeeListItems = new List<SelectListItem>
    {
        new SelectListItem()
        {
            Text = "Select your favorite Coffee", Value = "Not Selected"
        },
        new SelectListItem()
        {
            Text = "Affogato", Value = "Affogato"
        },
        new SelectListItem()
        {
            Text = "Americano", Value = "Americano"
        },
        new SelectListItem()
        {
            Text = "Breve", Value = "Breve"
        },
        new SelectListItem()
        {
            Text = "Cafe Crema", Value = "Cafe Crema"
        },
        new SelectListItem()
        {
            Text = "Turkish Coffee", Value = "Turkish Coffee"
        },
        new SelectListItem()
        {
            Text = "Ice Coffee", Value = "Ice Coffee"
        },
        new SelectListItem()
        {
            Text = "Cold Brew Coffee", Value = "Cold Brew Coffee"
        }
    };


}

<div class="row">
    <div class="mx-auto col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Registration Form</h4>
            </div>


            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

            <div class="card-body form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">

                        @Html.DropDownListFor(model => model.Country, countryListItems, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.StateRegion, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.StateRegion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StateRegion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.FavoriteCoffee, htmlAttributes: new { @class = "col-lg-3 col-form-label form-control-label" })
                    <div class="col-lg-9">

                        @Html.DropDownListFor(model => model.FavoriteCoffee, coffeeListItems, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.FavoriteCoffee, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-5">
                    <div class="col-lg-12">
                        <input type="submit" value="Create an Account" class="btn btn-success btn-lg btn-block" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
